.page-header {
  position: absolute;
  top: 0;
  width: 100%;
  
  .site-title {
    margin: 0;
    padding: 10px;
    font-size: 1em;
    text-align: center;
    color: $c-white;

    a {
      margin: 0 0 0 5px;
      color: $c-white;
      font-weight: 600;
      text-decoration: none;
    }
  }

  .nav-wrapper {
    position: fixed;
    width: 100%;
    bottom: 0;
    box-shadow: 0 0 10px 0px;

    @include mq-large {
      position: absolute;
      top: 0;
      right: 0;
      width: 300px;
      bottom: auto;
      box-shadow: 0 0 0 0;
    }
  }

  .site-nav {
    /* We first create a flex layout context */
    display: flex;

    /* Then we define the flow direction and if we allow the items to wrap
     * Remember this is the same as:
     * flex-direction: row;
     * flex-wrap: wrap;
     */
    flex-flow: row wrap;

    /* Then we define how is distributed the remaining space */
    justify-content: center;

    margin: 0;
    padding: 0;
    list-style: none;
    background: $c-white;
    @extend %clearfix;

    @include mq-large {
      background: transparent;
    }

    .item {
      position: relative;
      flex: 1;
      padding: 1em;
      text-align: center;

      &.is-active a {
        color: $c-brand;

        @include mq-large {
          display: block;
          color: $c-white;
        }

        &:after {
          @include mq-large {
            content: "";
            position: absolute;
            bottom: 5px;
            left: 0;
            width: 100%;
            height: 1px;
            border-bottom: 1px solid $c-brand;
          }
        }
      }

      a {
        color: $c-base;
        text-decoration: none;

        @include mq-large {
          color: $c-white;
        }

        span {
          font-size: 10px;
          display: block;
          margin: 5px 0 0;
        }
      }
    }
  }
}
