.clearfix,
%clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

.is-hidden,
%is-hidden {
  display: none;
}

.is-visible,
%is-visible {
  display: block;
}

.font-small,
%font-small {
  font-size: 0.707em;
}
