<header class="page-header">
  <h1 class="site-title"><i class="fa fa-rocket"></i><a href="{{ site.baseurl }}/">{{ site.title }}</a></h1>
  <div class="nav-wrapper">
    <nav>
      <ul class="site-nav">
        {% for page in site.pages %}
          {% if page.title %}
            <li class="item"><a href="#"><i class="fa fa-home fa-lg"></i><a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a></li>
            <!-- <li class="item is-active"><a href="#"><i class="fa fa-code fa-lg"></i><span>Frontend</span></a></li>
            <li class="item"><a href="#"><i class="fa fa-gamepad fa-lg"></i><span>Games</span></a></li>
            <li class="item"><a href="#"><i class="fa fa-music fa-lg"></i><span>Music</span></a></li> -->
          {% endif %}
        {% endfor %}
      </ul>
    </nav>
  </div>
</header>
