.post {
  display: block;
  margin: 0;
  text-decoration: none;
}

.article-header {
  padding: 2em 1.3em;
  margin: 0 auto;
  background: $c-brand;

  &.show-image {
    background:
      linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4));
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
    height: 75vh;
  }

  @extend %clearfix;

  @include mq-large {
    padding: 3.5em 1em;
  }

  .page-info-wrapper {
    @include mq-medium {
      max-width: $max-width;
      margin: 0 auto;
    }

    @include mq-large {
      max-width: $max-width;
      margin: 0 auto;
    }
  }

  h1 {
    margin: 0;
    font-size: 8vh;
    font-weight: 300;
    color: $c-white;

    @include mq-large {
      max-width: $max-width;
      margin: 0 auto;
    }
  }

  .legenda {
    color: $c-white;

    .tags {
      text-transform: lowercase;
    }

    p {
      margin: 1.3em 0;
    }
  }
}

.article-main {
  margin: 1.3em;

  @include mq-medium {
    max-width: $max-width;
    margin: 1.3em auto;
  }

  @include mq-large {
    max-width: $max-width;
    margin: 1.3em auto;
  }

  p {
    text-align: justify;
    margin-bottom: 1.3em;

    > code {
      background: lighten($c-base, 75%);
      border: 1px solid lighten($c-base, 75%);
    }
  }

  img {
    width: 100%;
  }
}
