---
layout: default
---
<article>
  <header class="article-header" style="background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url({{ page.image }});">
    <h1>{{ page.title }}</h1>
    <div class="legenda">
      {% if page.tags %}
        <p class="tags">
          {% for tag in page.tags %}
            {% if forloop.last == false %}
              {{ tag }},
            {% else %}
              {{ tag }}
            {% endif %}
          {% endfor %}
        </p>
      {% endif %}
      <p>Posted on <time datetime="{{ page.date | date: "%D" }}">{{ page.date | date: "%b %-d, %Y" }}</time></p>
    </div>
  </header>
  <div class="article-main">
    {{ content }}
  </div>
</article>
